*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#0b132b;
  color:#ffffff;
  scroll-behavior:smooth;
}

/* NAVBAR */
.navbar{
  position:sticky;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 8%;
  background:#0b132b;
  z-index:1000;
}

.logo{
  font-weight:700;
  font-size:1.2rem;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:20px;
}

.nav-links a{
  color:#cbd5e1;
  text-decoration:none;
}

.nav-links a.active,
.nav-links a:hover{
  color:#22d3ee;
}

.resume-btn{
  background:#22d3ee;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

/* HERO */
.hero{
  text-align:center;
  padding:120px 10%;
}

.hero h1{
  font-size:3rem;
}

.hero h3{
  color:#22d3ee;
  margin:10px 0;
}

.hero p{
  max-width:600px;
  margin:auto;
  color:#cbd5e1;
}

/* SECTIONS */
.section{
  padding:80px 10%;
}

.section h2{
  margin-bottom:30px;
  border-left:4px solid #22d3ee;
  padding-left:12px;
}

/* CARDS */
.card,
.project-card{
  background:#111827;
  padding:25px;
  border-radius:14px;
  transition:0.3s;
}

.card:hover,
.project-card:hover{
  transform:translateY(-6px);
  box-shadow:0 4px 20px rgba(34,211,238,0.5);
}

/* SKILLS DASHBOARD */
.skills-dashboard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skill-bar {
  cursor:pointer;
  transition:0.3s;
}

.skill-bar span {
  display: block;
  margin-bottom: 5px;
  font-weight:600;
}

.bar {
  width: 100%;
  height: 22px;
  background:#111827;
  border-radius:12px;
  overflow:hidden;
}

.fill {
  height:100%;
  width:0%;
  border-radius:12px;
  background: linear-gradient(90deg,#22d3ee,#f43f5e);
  transition: width 2s ease-in-out, background 0.3s;
}

.skill-bar:hover .fill{
  background: linear-gradient(90deg,#facc15,#38bdf8,#f43f5e);
  transform: scaleY(1.1);
}

/* PROJECTS */
.projects-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}

.buttons{
  display:flex;
  gap:10px;
  margin-top:10px;
}

button{
  padding:6px 12px;
  border:none;
  border-radius:6px;
  cursor: pointer;
}

/* CONTACT */
.contact-icons{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}

.contact-icons a{
  text-decoration:none;
  color:#ffffff;
  text-align:center;
  transition:0.3s;
}

.contact-icons a i{
  font-size:2.5rem;
}

.contact-icons a:hover i{
  color:#f43f5e;
  transform:scale(1.2);
}

/* FOOTER */
footer{
  text-align:center;
  padding:30px;
  background:#020617;
  color:#94a3b8;
}
